<div class="no-pad image-text">
    <%= image_tag("people_header.png", :alt => "Habjan Photography", class: "img-fluid") %>
</div>

<div class="col-lg-12">
  <h1 class="page-header text-center txt-style">People</h1>
</div>
<div class="container">
	<%= render 'layouts/categoryOne' %>
</div>