<div class="col-md-12 portfolio-item align-items-center mx-auto">
  <a href="#">
    <img class="img-fluid" alt="Responsive image" src="http://placehold.it/1280x400" alt="">
  </a>
</div> 

<div class="container">
	<%= render 'layouts/categoryOne' %>
</div>