# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 39b708d0287838afcfd3a55c517e693a3f6c1c290bdbfbaa3c1d53aaa587a864aee7461e58acbf370e1a6d7ea36ade8f195f4e011a50878454733bd6c61ce5a3

test:
  secret_key_base: 3e24c8882a3cfada48fb49a5aceec803ae0031e1a478067d42b0d007d6ddebca970eb8495d8b39792899e6bed697dd649cfcf6436015ea3c0299d84ff7def822

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
