  /*******************/
 /* Nav and landing */
/*******************/

.no-pad {
	padding-left: 0px;
	padding-right: 0px;
}

.landing-txt-style{
	color: white;
	font-weight: lighter;
}

.image-text {
	position: relative;
	width: 100%;
}

h2 {
	position: absolute;
	top: 10px;
	left: 25px;
	width: 100%;
}

.my-nav {
	margin-bottom: 0px !important;
}

  /******************/
 /* Section Titles */
/******************/


.txt-style{
	color: gray;
	font-weight: lighter;
}

li {
	list-style: none;
}

footer {
	margin-left: 100px;
}

