  /*******************/
 /* Nav and landing */
/*******************/

.no-pad {
	padding-left: 0px;
	padding-right: 0px;
}

.landing-txt-style{
	color: white;
	font-weight: lighter;
}

.image-text {
	position: relative;
	width: 100%;
}

.my-nav {
	margin-bottom: 0px !important;
    min-height:100%;
    border: 0px !important;
    border-radius: 0px !important;
    a {
    	font-weight: lighter !important;
    	font-size: 1.2em !important;
    	padding-right: 20px !important;
    } 
}

  /******************/
 /* Section Titles */
/******************/


.txt-style{
	color: gray;
	font-weight: lighter;
}

li {
	list-style: none;
}


