  /*******************/
 /* Nav and landing */
/*******************/

.no-pad {
	padding-left: 0px;
	padding-right: 0px;
}



.my-nav {
	background: transparent !important;
    a {
    	font-weight: lighter !important;
    	font-size: 1.2em !important;
    	padding-right: 20px !important;
    	color: white !important;
    }
}

  /*****************/
 /* Scrolling Nav */
/*****************/

.navbar {
    -webkit-transition: all 0.6s ease-out !important;
    -moz-transition: all 0.6s ease-out !important;
    -o-transition: all 0.6s ease-out !important;
    -ms-transition: all 0.6s ease-out !important;
    transition: all 0.6s ease-out !important;
}

.navbar.scrolled {
    background: rgb(68, 68, 68) !important; //IE
    background: rgba(0, 0, 0, 1) !important; //NON-IE
}

@media only screen and (max-width: 766px) {
.collapse, .collapsing, .in {background: rgba(0, 0, 0, 0.78);}
.collapse, .collapsing ul li a, .in ul li a {color: white !important;}
.collapse, .collapsing ul li a:hover, .in ul li a:hover {color: gray !important;}
}


#name {
	font-size: 1.8em !important;
	font-family: 'Roboto', sans-serif !important;
	font-weight: 100 !important;
}


.navbar-toggler {
    margin-top: 10px;
    color: white;
}
  /******************/
 /* Section Titles */
/******************/


.txt-style{
	color: gray;
	font-weight: lighter;
}

li {
	list-style: none;
}


  /****************/
 /* Contact form */
/****************/

input, textarea {display: block;}


  /*******************************/
 /* Bootstrap 3 Removed Classes */
/*******************************/
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eeeeee;
}

.img-thumbnail {
    margin-bottom: 20px;
}