.no-pad {
	padding-left: 0px;
	padding-right: 0px;
}

.txt-style{
	color: white;
	font-weight: lighter;
}

.image-text {
	position: relative;
	width: 100%;
}

h2 {
	position: absolute;
	top: 10px;
	left: 25px;
	width: 100%;
}

.my-nav {
	margin-bottom: 0px !important;
}