  /*******************/
 /* Nav and landing */
/*******************/

.no-pad {
	padding-left: 0px;
	padding-right: 0px;
}

.pad-top {
  padding-top: 65px;
}

.pad-top-sm {
  padding-top: 35px;
}


.my-nav {
	background: transparent !important;
    a {
      font-family: 'Roboto', sans-serif !important;
      font-weight: 100 !important;
    	font-size: 1.2em !important;
    	padding-right: 20px !important;
      text-decoration: none;
    }

    .nav-item a:link, a:visited, a:hover, a:active {
      color: white;
    }

    .dropdown-item {
      color: black !important;
    }
}

.secondary-nav {
  background: black !important;
    a {
      font-family: 'Roboto', sans-serif !important;
      font-weight: 100 !important;
      font-size: 1.2em !important;
      padding-right: 20px !important;
      color: white !important;
    }

    .nav-item a:link, a:visited, a:hover, a:active {
      color: white;
    }

    .dropdown-item {
      color: black !important;
    }
}

  /*****************/
 /* Scrolling Nav */
/*****************/

.navbar {
    -webkit-transition: all 0.6s ease-out !important;
    -moz-transition: all 0.6s ease-out !important;
    -o-transition: all 0.6s ease-out !important;
    -ms-transition: all 0.6s ease-out !important;
    transition: all 0.6s ease-out !important;
}

.navbar.scrolled {
    background: rgb(68, 68, 68) !important; //IE
    background: rgba(0, 0, 0, 1) !important; //NON-IE
}

@media only screen and (max-width: 766px) {
   a.nav-link:hover {color: gray !important;}
  .navbar-nav .nav-item .nav-link,
  .collapse, .collapsing {
    background: rgba(0, 0, 0, 0.78);
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
  }

}


#name {
	font-size: 1.8em !important;
	font-family: 'Roboto', sans-serif !important;
	font-weight: 100 !important;
}


.navbar-toggler {
    margin-top: 10px;
    color: white;
}
  /******************/
 /* Section Titles */
/******************/


.txt-style{
	color: gray;
	font-weight: lighter;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 100 !important;
}

li {
	list-style: none;
}


  /****************/
 /* Contact form */
/****************/

input, textarea {
  display: block;
  margin-top: 30px !important;
}

form {
  padding-top: 20px !important;

}

.name2 {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400 !important;
}

.copy-right {
  font-size: .75em;
}

  /*******************************/
 /* Bootstrap 3 Removed Classes */
/*******************************/
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eeeeee;
}

.img-thumbnail {
    margin-bottom: 20px;
}

  /********************/
 /* Category Section */
/********************/

.portfolio-item {
    margin-bottom: 10px;
}

.bio {
  margin-top: 65px;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #f6f6f6;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.08); }

.marg-top {
  margin-top: 15px;
}

.custom-overlay {
  color: white;
  padding-top: 40px;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 100 !important;
  font-size: 2.8rem !important;
}

.card-img-overlay {
  a {
    text-decoration: none !important;
  }
}

.form-control {
  margin-top: 5px !important;
  margin-bottom: 30px !important;
}
  /*****************/
 /* Media Queries */
/*****************/

/* Extra Small Devices, Phones */

