<div class="container">
   <p>Photography is an ever evolving craft. Never able to settle on a specific style, or type of content, my 2 years in photography have seen a large change in focus. A start in the Glass Art world opened my eyes to what my true inspiration was, the photos of the art as much as the piece itself would light a fire in my heart.</p>

	<p>Out of my past of art photography I built a foundation for product work, and from this my skills have evolved to include portrait work, landscape work, and my personal favorite street photography. The connection of working with live models and landscapes brings with it a new skill set for me to learn.</p>

	<p>My website is the next step in my evolution as a photographer and artist, a home for my work. A personal gallery of my life, the people that I meet, the places that I see, and the clients that I get the pleasure of working with.</p>
  </div>